{% extends "quiz_app/base.html" %}  <!-- Adjust the path as needed -->

{% block content %}
<div class="container-block">
    <h2 class="form-title">Welcome back to RealQuizer</h2>
    <form method="post" class="registration-form" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="text" name="username"  id="id_username" required>
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" name="password1" id="id_password" required>
        </div>
    
        <button type="submit" class="submit-btn">Login</button>
    </form>
</div>
{% endblock %}

